
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: normal;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: red;
}
h1 {
    font-family:'Bridge Type';
    font-size: 3em;
    color: red;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
h2{
    font-family:'Bridge Type';
    font-size: 3em;
    color: red;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: orange;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
